.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
.header-icon {
  object-fit: contain;
  height: 50px;
  margin: 20px;
}
.header-center {
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 10px 10px;
}
.header-center input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 3px 5px;
  width: 250px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 18%;
}
.header-right p {
  margin-right: 10px;
}
